<h2>Categories</h2>

<ul class="categories">
  <li *ngFor="let category of categories"
    [class.selected]="category === selectedCategory"
    (click)="onSelect(category)">
    <span class="badge">{{category.id}}</span> {{category.name}}
  </li>
</ul>

<div *ngIf="selectedCategory">
  <h2>{{selectedCategory.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedCategory.id}}</div>
  <div>
    <label for="category-name">Category name: </label>
    <input id="category-name" [(ngModel)]="selectedCategory.name" placeholder="name">
  </div>
</div>

